body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgb(247, 203, 228);
}

h1 {
    color: #333;
}

.active {
    text-decoration: underline;
    color: #950c49;
}

.d-flex {
    display: flex;
    border-bottom: 2px solid #950c49;
    padding-bottom: 20px;

}

.jcc {
    justify-content: center;
}

.g1 {
    gap: 1rem;
}

li {
    list-style-type: none;

}

li>a {
    text-decoration: none;
    color: #cd3077;
}